<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShopaHolic|Admin</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="py-1 bg-primary" >
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="min-height: 550px;">
   <h1>Welcome Admin - <span th:text="${session.admin.getFirstName()}"/> </h1>
    <span class="error" th:text="${message}"/>
   <form th:action="@{/logout}" method="get">
       <input type="button" onclick="location.href='/sendMail'" value="SendMail" />
       <input type="submit" value="Logout"/>
   </form>
</div>
   <div th:replace="/footer::footer"></div>
</body>
</html>