<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyleaf.org">
<head></head>

<body>
<div class="py-1 bg-primary" th:fragment="header">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        <span class="text"><a href="/signup">SignUp</a> / <a href="/login">Login</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>