<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyleaf.org">
<head>
	<title>Test</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<script src="jsFunctions.js" ></script>
</head>
<body>

<div class="py-1 bg-primary">
	<div class="container">
		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
			<div class="col-lg-12 d-block">
				<div class="row d-flex">
					<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						<span class="text">SignUp</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="#">ShopaHolic</a>

		<div class="cart">
			<img th:src="@{/images/cart.png}" /><span id="cart" >0</span>

		</div>
	</div>
</nav>
<!-- END nav -->


<section class="ftco-section" style="min-height: 550px;">

	<div class="container">
		<div class="row">

			<div class="col-md-6 col-lg-3 ftco-animate" th:each="product: ${products}">
				<div class="product">

					<div class="text py-3 pb-4 px-3 text-center">


						<img  th:src="@{${'/images/' + product.getProductImage() }}" width="90" height="90" alt="No Image Available">
						<h3><a href="#" th:text="${product.getProductName()}">ProductName</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price" th:text="${product.getProductPrice()}"><span>Price</span></p>
							</div>
						</div>
						<div >
							<button onclick="addtoCart()">Buy</button>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>
</section>



<footer>
	<div class="footer">
		Copyright &copy; Innovators.
	</div>
</footer>

</body>
</html>