<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyleaf.org">
<head>
	<title>ShopaHolic|Shopping portal</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<script src="jsFunctions.js" ></script>
</head>

<body>

<div th:replace="${user == null} ? ~{/header::header} : ~{/headerLoggedIn::headerLoggedIn}"></div>

<div th:replace="/cartinclude::cartinclude"></div>
<!-- END nav -->


<section class="ftco-section" style="min-height: 550px;">

	<div class="container">
		<div class="row">

			<div class="col-md-6 col-lg-3 ftco-animate" th:each="product: ${products}">
				<div class="product">

					<div class="text py-3 pb-4 px-3 text-center">


					<img th:src="@{${'/images/' + product.getProductImage() }}" width="90" height="90" alt="No Image Available">

						<h3><a href="#" th:text="${product.getProductName()}">ProductName</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price" th:text="${product.getProductPrice()}"><span>Price</span></p>
							</div>
						</div>
						<div >
<!--							<button th:if="${user != null}"  th:onclick="'javascript:addtoCart(\'' + ${session.user.getId()} + '\',\'' + ${product.getProductId()} + '\',\'' + ${product.getProductPrice()} + '\', \'' + ${product.getProductName()} + '\' );'">Buy</button>-->
							<button th:if="${user != null}"  th:onclick="'javascript:addtoCart(\'' + ${session.user.getId()} + '\',\'' + ${product.getProductId()} + '\',\'' + ${product.getProductPrice()} + '\');'">Buy</button>

                        </div>
					</div>
				</div>
			</div>



		</div>
	</div>
</section>



<div th:replace="/footer::footer"></div>

</body>
</html>