<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="/header::header"></div>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/index">ShopaHolic</a>

        <div class="collapse navbar-collapse" id="ftco-nav">


        </div>
    </div>
</nav>
<!-- END nav -->

<section class="ftco-section" style="min-height: 550px;">

    <form class="form"  th:action="@{/login}" th:object="${user}" method="post">
        <span class="error" th:text="${errorMsg}"/>
        <div class="container">

            <table style="align:center">

                <tr>
                    <td><label><b>Username</b></label></td>
                    <td>
                        <input type="text" placeholder="Enter Username" name="username" th:field="${user.userName}" required />
                    </td>
                </tr>

                <tr>
                    <td><label><b>Password</b></label></td>
                    <td>
                        <input type="password" placeholder="Enter Password" name="password" th:field="${user.password}" required />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <button type="submit">Login</button>
                            <button type="button" onclick="location.href='/index'">Cancel</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</section>

<div th:replace="/footer::footer"></div>

</body>
</html>